<div class="container form-control mb-5 mt-5 p-4">
<h2 class="text-center mb-5">Add New Product Details</h2>
<form class="row g-3 ">
    <div class="col-md-6">
      <label for="validationserver01" class="form-label">Product id</label>
      <input type="email" name="id" formControlName="" class="form-control" id="validationserver01" required>
    </div>

    <div class="col-md-6">
        <label for="validationserver02" class="form-label">Product Name</label>
        <input type="email" name="productname" formControlName="" class="form-control" id="validationserver02" required>
      </div>

      <div class="col-md-6">
        <label for="validationserver03" class="form-label">Product Description</label>
        <input type="email" name="description" formControlName="" class="form-control" id="validationserver03" required>
      </div>

      <div class="col-md-6">
        <label for="validationserver04" class="form-label">Product Rating</label>
        <input type="email" name="rating" formControlName="" class="form-control" id="validationserver04" required>
      </div>

      <div class="col-md-6">
        <label for="validationserver05" class="form-label">product Price</label>
        <input type="email" name="price" formControlName="" class="form-control" id="validationserver05" required>
      </div>

      <div class="col-md-6">
        <label for="validationserver06" class="form-label">Product Warranty</label>
        <input type="email" name="warranty" formControlName="" class="form-control" id="validationserver06" required>
      </div>

      <div class="col-md-6">
        <label for="validationserver07" class="form-label">Product Review</label>
        <input type="email" name="review" formControlName="" class="form-control" id="validationserver07" required>
      </div>

      <div class="col-md-6">
        <label for="validationserver08" class="form-label">Product vendor Name</label>
        <input type="email" name="vendor_name" formControlName="" class="form-control" id="validationserver08" required>
      </div>

      <div class="col-md-6">
        <label for="validationserver09" class="form-label">Product Category id</label>
        <input type="email" name="category_id" formControlName="" class="form-control" id="validationserver09" required>
      </div>

      <div class="col-md-6">
        <label for="validationserver10" class="form-label">Product Availaility</label>
        <input type="email" name="availaility" formControlName="" placeholder="Yes / No" class="form-control" id="validationserver10" required>
      </div>
      
    <div class="col-12">
      <label for="product_img" class="form-label">Product img</label>
      <input type="text" name="product_img" class="form-control" id="Product_img" placeholder="file type name">
    </div>
    
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit Form</button>
    </div>
  </form>
</div>
